@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.header-nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    font-family: "Oswald", sans-serif;

    .h2-nav-menu{
        font-weight: 700;
        font-size: 2.5rem;
    }

    .nav-menu{
        width: 50%;
        height: 15vh;
    }

    .ul-nav-menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        list-style: none;
    }

    .button-nav-menu{
        font-size: 1.25rem;
        font-weight: 500;
    }

    .button-nav-menu > a{
        text-decoration: none;
        color: #000000;
    }

    .button-nav-menu > a:hover {
        color: #0017E9;
    }
}

.container_background_image{
    height: 97vh;
    background-color: #F5F5DC;
    background-image: url("./imagens/background.png");
    
    background-repeat: repeat-x; //repetir no eixo x
    background-repeat: repeat-y; //repetir no eixo y
    background-repeat: repeat repeat; //se repete em ambos os eixos
    background-repeat: no-repeat; //não se repete

    background-size: contain; //Exatamente o tamanho da imagem
    background-size: cover; //Preenche todo o tamanho da caixa
  //background-size: 50% 50vh ; //1º valor é largura - 2ºvalor é a altura

    background-position: top; //topo
    background-position: bottom; //fundo
    background-position: left; //esquerda
    background-position: right; //direita
    background-position: center; //centro
    font-family: "Oswald", sans-serif;

    .h1-main{
        color: #ffffff;
        font-weight: 700;
        font-size: 4.0rem;
        text-align: center;
    }

    .h3-main{
        color:#ffffff;
        font-weight: 300;
        font-size: 1.3rem;
        font-family: "Oswald", sans-serif;
    }

    .container_background_image{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .paragraph-main{
        font-family: "Oswald", sans-serif;
        width: 50%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    
    .services-button{
        font-family: "Oswald", sans-serif;
        background-color: #0016DF;
        font-size: 1.3rem;
        color: white;
        padding: 7px 50px 7px 50px;
        margin-left: 4%;
        border: 0px;
    }

    .services-button:hover{
        background-color: #ffffff;
        color: #0016DF;
    }
    
    .textos{
        font-family: "Oswald", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        line-height: 410%;
    }
}

.about-us{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 15% 0%;

    .paragrafo{
        height: 85%;
        width: 45%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px 5%;

     .h3-about-us{
        color:#0017E9;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        }

     h2{
            color: #000000;
            font-size: 2.25rem;
            font-weight: 800;
            font-family: "Roboto", sans-serif;
        }

        .paragraph-about-us{
            color: #000000;
            font-size: 1.1rem;
            width: 76%;
            line-height: 1.358;
            font-weight: 400;
            font-family: "Roboto", sans-serif;
        }

        .link{
            font-family: "Roboto", sans-serif;
            color: #0017E9;
            text-decoration: none;
            font-weight: 500;
        } 
    }

    .img-navio{
        height: 100%;
        width: 45%;
    }

}

.soluções{
    display: flex;
    background-color: #D3D3D3;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 130vh;
    padding: 4% 0 6% 0;

    .title-soluções{
        margin-bottom: -5%;

        .h2-soluções{
            font-family: "Oswald", sans-serif;
            color: #0017E9;
            font-weight: 500;
            text-align: center;
            margin-bottom: 5%;

        }

        .h2-segundo-soluções{
         font-family: "Oswald", sans-serif;
         color: #000000;
         font-weight: 500;
         text-align: center;
        }
    }

    .body-solutions{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .card{
            max-height: 60%;
            height: 100%;
            width: 25%;
            box-shadow: 0px 30px 10px 0px rgba(0, 0, 0, 0.6);

            .img-card-solutions{
                display: block;
                width: 100%;
                height: 60%;
            }

            .card-text{
                background-color: #ffffff;
                height: 47%;
                padding: 0% 5%;
                line-height: 120%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                .h3-card{
                    font-family: "Oswald", sans-serif;
                    font-weight: 500;
                    margin-bottom: 8%;
                    font-size: 1.5rem;
                }

                .p-card{
                    font-family: "Oswald", sans-serif;
                    font-weight: 200;
                    font-size: 1.2rem;
                }
            }
        }
    }    
}

.section-contacts{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 7%;

    .body-atendimento{
        width: 100%;
        display: flex;
        padding: 4% 4%;

        .galeria{
            display: flex;
            flex-direction: column;
            width: 50%;
            
            .container-imgs{
                display: flex;
                flex-wrap: wrap;
                padding-top: 10%;
                
                .card-location{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width:45%;
                    padding: 0% 4% 4% 0%;
               
                    .img-location{
                        width: 100%;
                    }
    
                    .figcaption-location{
                        font-family: "Oswald", sans-serif;
                        color: #000000;
                        font-weight: 500;
                        font-size: 1.0rem;
                    }
                }
            }
        }

        .form-digitacao{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            justify-content: center;

            .fieldset-digitacao{
                display: flex;
                flex-direction: column;
                border: none;
                max-width: 17rem;
                width: 100%;
                
                [class^="text-box"]{
                    display: flex;
                    flex-direction: column;
                }

                [class^="text-box"] > label{
                    font-size: 1.5rem;
                    font-weight: 200;
                    font-family: "Oswald", sans-serif;
                }

                [class^="text-box"] > input{
                    height: 3rem;
                    font-size: 1.5rem;
                    font-weight: 200;
                    font-family: "Oswald", sans-serif;
                }

                [class^="text-box"] > textarea{
                    height: 9rem;
                    font-size: 1.5rem;
                    font-weight: 200;
                    font-family: "Oswald", sans-serif;
                }

                .envio{
                    width: 100%;
                    background-color: #0017E9;
                    font-family: "Oswald", sans-serif;
                    height: 12%;
                    border: none;
                    font-size: 1.3rem;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }

        .titulos-section-contacts{

            .h2-section-contacts{
                font-family: "Oswald", sans-serif;
                color:  #0017E9;
                font-weight: 500;
                font-size: 2rem;
            }
    
            .h4-section-contacts{
                font-family: "Oswald", sans-serif;
                color: #000000;
                font-weight: 500;
                font-size: 1.5rem;
            }
        }
    }
}

.footer-final{
    background-color: #D8D8D8;
    height: 10vh;
    display: flex;
    align-items: center;

    .p-final{
       font-family: "Oswald", sans-serif;
        color: #001C43;
        font-weight: 700;
        font-size: 0.875rem;
        width: 100%;
        text-align: center;
    }
}